<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xd-12">
      <img src="assets/images/crepes-pla.jpg" class="img-fluid img-response" alt="photo">
    <h4>crêpes</h4>
    <p></p>
    </div>
    <div class="col-lg-4 col-md-4 col-xd-12">
      <img src="assets/images/crepes-traditionnelles.jpg" class="img-fluid img-response" alt="photo">
      <h4>crêpes</h4>
      <p></p>
    </div>
    <div class="col-lg-4 col-md-4 col-xd-12">
      <img src="assets/images/crepess.jpg" class="img-fluid img-response" alt="photo">
      <h4>crêpes</h4>
      <p></p></div>
  </div>
</div>
