<div class="container mt-5 pt-2">
  <a routerLink="/"><button type="button" class="btn">Show all</button></a>
  <a routerLink="/patisserie"><button type="button" class="btn ml-1">Patisserie</button></a>
  <a routerLink="/cuisine"><button type="button" class="btn ml-1">Cuisine</button></a>
  <a routerLink="/salade"><button type="button" class="btn ml-1">Salade</button></a>

<!-- Example single danger button -->
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
 <div class="btn-group" role="group">
    <button id="btnGroupDrop1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Contact
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="/register">Register</a>
      <a class="dropdown-item" href="/login">Login</a>
    </div>
  </div>
</div>
</div>
